<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/style.css">
    <title>حاذر</title>
    <link rel="icon" type="image/x-icon" href="/static/img/logoic.png">

 </head>
 <body>
  
    <header>
      <div class="logo"><img src="static/img/logo.png"></div>
        <ul>
            <li><a href="#main" class="active" >Home</a></li>
            <li><a href="#abot" id="about ">About</a></li>
            <li><a href="#cont">contact</a></li>
            <li><a></a>
        </u>     
    </header>

   

    
     <section class="main">
            <img src="static/img/backg2.PNG" id="stars">
            <img src="static/img/moon.JPG" id="moon" >
    </section>

    <div class="hee">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap" rel="stylesheet"> 
        <h1 style="text-align:center" id="h11" > حاذر </h1> <br> 
    </div>

    <div class="display" >
          <p1 id="a1"> Ready to eliminate fraud? </p>
          <p2 id="a2">Check URL for Malware or Suspicious Behaviors</p>
           <!-- Inputs for our ML model -->
            <form action="/" method="post">
              <input type="text" name="vurl" id="vurl" placeholder="Enter URL" required="required";/>
              <button type="submit" class="btn" id="bttn">Predict Value!</button>
            </form>
          <b> {{ prediction_text }} </b>
          <b> {{ percentage }} </b>
       </div>



    <div class="content">
        <h1 id="abot" >ABOUT</h1> <br><br>
        <p style="text-align:center">  Our URL scanning algorithms intelligently match similar
           indicators from malicious URLs and phishing domains
           , while ensuring that legitimate URLs are never penalized
            with false-positives.</p> <br> <br><br><br><br> 
            <br> <br> <h3>What we stand for?</h3>
         <br> <p> Phishing is the biggest cyber threat for corporate environments in Over the past years , Over billions of dollars are lost annually to phishing attacks, Our Website can accurately detect phishing domains even when sophisticated fraud techniques are used.</p2> <br> <br> <br> <br> 
          <!-- Scroller Start -->
          <h4 > Our Mission Is To Keep Your Device <br/>
            <div class="scroller"> <br/>
              <span >
                Safe<br/>
                Secure<br/>
                Protected<br/>
              </span>    
            </div> 
          </h4> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                
  
        <br> <h1 id="cont" > Meet Our Founders</h1>

        <div class="row">
  <div class="column">
    <div class="card">
      <img src="static/img/icon.png" alt="Redhab" style="width:100%" >
      <div class="container">
        <p class="title">Redhab Almaatiq </p>
        <p>redababdulaziz@gmail.com</p>
        <form action="mailto:redababdulaziz@gmail.com" method="post" enctype="text/plain" >
          <p><input class= "button" type="submit" name="submit" value="contact"></p>
        </form>      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/img/icon.png" alt="Norah" style="width:100%" >
      <div class="container">
        <p class="title">Norah Alfayzi </p>
        <p style="text-align: center;">noraalfayzi@outlook.com</p>
        <form action="mailto:noraalfayzi@outlook.com" method="post" enctype="text/plain" >
          <p><input class= "button" type="submit" name="submit" value="contact"></p>
        </form>      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/img/icon.png" alt="shahd" style="width:100%">
      <div class="container">
        <p class="title">Shahd Aljubily</p>
        <p>shahd.jubily@gmail.com</p>
        <form action="mailto:shahd.jubily@gmail.com" method="post" enctype="text/plain" >
          <p><input class= "button" type="submit" name="submit" value="contact"></p>
        </form>      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/img/icon.png" alt="Rakn" style="width:100%">
      <div class="container">
        <p class="title">Rakn Alharbi</p>
        <p>rakn2ali@gmail.com</p>
        <form action="mailto:rakn2ali@gmail.com" method="post" enctype="text/plain" >
          <p><input class= "button" type="submit" name="submit" value="contact"></p>
        </form>      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static/img/icon.png" alt="Atheer" style="width:100%">
      <div class="container">
        <p class="title">Atheer Almohaimeed</p>
        <p>ath5@outlook.sa</p>
        <form action="mailto:ath5@outlook.sa" method="post" enctype="text/plain" >
          <p><input class= "button" type="submit" name="submit" value="contact"></p>
        </form>
      </div>
    </div>
  </div>


</div>
        </div>

        <div class="superV">  
          <h2>Our Supervisor</h2><br> <br>
            <div class="columnV">
              <div class="cardV">
                <img src="static/img/lecturer.png" alt=" Dr. Mohammad Hadwan" style="width:80%">
                <div class="containerV">
                  <p class="titleV"> Dr. Mohammad Hadwan</p>
                  <p>m.hadwan@qu.edu.sa</p>
                  <form action="mailto:you@m.hadwan@qu.edu.sa" method="post" enctype="text/plain" >
                  <p><input class= "buttonV" type="submit" name="submit" value="contact"></p>
                </form>
                </div>
              </div>
            </div>
            
        </div> <br> <br> <br>
        <script src="/static/main.js"></script>

     
 </body>

 <footer>
    <p> <br> <br>  </p> 
    
  </footer>

 </html>

 